.AboutOptions-Header {
	display: inline-block;

}

#AboutOptions-Content {
	margin-top:0px;
	padding: 0px 10%;
	overflow-x: hidden;
	overflow-y: auto;
	
	width:80%;


}

.AboutOptions {
	height: 100%;
}

.AboutOptions-ContentInner {
	background-color: #eee;
	padding: 1vh 2vw;
}

.AboutOptions-p{
	text-align:left;
	margin-left:90px;
}

li{
	padding:5px;
	margin:5px;
}