.AgreementsOptions-Header {
	display: inline-block;
	
}

.AgreementsOptions-Content {
	padding: 0px 13%;
	overflow-x: hidden;
	overflow-y: auto;
	height: calc(100vh - 250px);
}

.AgreementsOptions {
	height: 100%;
}

.AgreementsOptions-ContentInner {
	padding: 1vh 2vw;
	border-radius: 15px;
}

#AgreementsCaption{
	margin:30px;
}

#AgreementsTable{
	background-color:#000;
	width:900px;
	display: inline-block;
}