.Popup{
	width:400px;
	height:625px;
	background-color:#eee;
	padding:5px 10px 10px 10px;
}

#grade{
	background-color: #ccc;
	border-radius:100px;
	border-style:none;
	width:100px;
	height:100px;

}

.backbutton{
	left:10px;
	position:absolute;
	width:40px;
	top:10px;
}

.backbutton:focus{
	outline:none;

}

.toggleButton-popup{
	margin: 5px 0px 0px 350px;
}