 .Popup{
	width:300px;
	height:600px;
	background-color: #ffffff;
  box-shadow: 0px 0px 8px 0px #727272;
}

.PopupContents {
  overflow-y: hidden;
  overflow-x: hidden;
}

.backbutton{
	left:5px;
	position:absolute;
	width:30px;
	top: 5px;
}

.backbutton:focus{
	outline:none;
}

.toggleButton-popup{
	position: absolute;
	left: 240px;
	top: 10px;
}

h1, h2, h3, h4, h5, h6 {
		color: #131313;
  margin-block-start:0px;
  margin-block-end:0px;
 
}

h1 {
	font-size: 18px;
	font-weight:bold;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:12%;
	color:#FFF;

}



h2{
	font-size: 16px;
	font-weight:lighter;
	padding-top:1px;
	padding-bottom:1px;

}



.header {
	background-color: #eee;
	padding: 5px 0px;
	border-top-style:solid;
	border-top-color: #ddd;
	border-top-width: 1px;
	font-size:16px;
}

.subheader {
	background-color: #eee;
	padding: 5px 0px;
	border-top-style:solid;
	border-top-color: #ddd;
	border-top-width: 1px;
	font-size:14px;

}

#MainHeader{
	border-top-style:none;
	background-color:#0566ff;

}

.footer {
	position: absolute;
	background-color: #eee;
	padding: 5px 0px;
	top: 570px;
	width: 300px;
	color:#2f4f4f;
	overflow: hidden;
	border-top-style:solid;
	border-top-color: #ddd;
	border-top-width: 1px;
}

#footerh1 {
	font-size: 14px;
	font-weight:bold;
	text-align:right;
	padding-right:40px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:10%;
	color:#0566ff;

}

.body {

}
