.PreferencesSlider-input{
	width:52%;
	padding-top:8px;
	padding-bottom:8px;
	align-self: center;
}

.PreferencesSlider-label {
	margin-left: 7px;

}

.PreferencesSlider-topicdesc{
	font-size:14px;
	padding:5px;
	text-align:left;
}