#PreferencesBox {
  height: 520px;

  align-self:center;
  margin-left:0px;
}

#PreferencesScrollbox{
	width:100%;
	overflow:auto;
	padding:2px;

}

.PreferencesPopup-Text {
  padding: 5px;
  font-size:11px;
  text-align:left;
}


.lefth3{
	text-align:left;
	margin-left:10px;
	font-size:12px;
	font-weight:lighter;

}

.lefth4{
	text-align:left;
	margin-left:18px;

}

.PreferencesPopup{

	height:520px;
}


